.align-content-center{align-content:center!important}
/*Pipeline*/
.padding-both {
    padding-left: 0px;
    padding-right: 0px;
}
.proceeded{
	background-color: #7f7f7f;
}
.left-gids-1 {
    width: 32%;
    background-color: #ffc000;
    height: 470px;
}
.left-gids-2 {
    width: 32%;
    background-color: #92d050;
    height: 470px;
}
.left-gids-3 {
    width: 32%;
    background-color: #c55a11;
    height: 470px;
}
.view-exis-1 {
    background-color: #ffc000;
}
.view-exis-2 {
    background-color: #92d050;
}
.view-exis-3 {
    background-color: #c55a11;
}
.views {
    background-color: #3c8dbc;
}
.form1-bg {
    background-color: #31b0d5;
    height: 421px;
}
.select2-container .select2-selection--single{
    height:33px !important;
}
.bg-yellow-light{
    background-color:#edde34;
}
.text-white{
    color:#ffffff;
}
.bg-gray-dark{
    background-color:#9e9e9e;
}
.skin-blue{
    background-color:#3c8dbc;
}
.bg-white{
    background-color:#ffffff;
}
.padding-5{
    padding:5px;
}
.bg-shadlebrown{
    background-color:#8B4513;
}
.bg-chocolate{
    background-color:#e09763;
}
.border-shadlebrown{
    border:8px solid #8B4513;
}
.min-height{
    min-height:515px;
}
/*End Pipeline*/